$min_width: $width-mobile;
$max_width: $width-contained;
$min_font: $font-body-min-size;
$max_font: $font-body-max-size;

html {
  @include font-family(regular, alternative);
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
